<h1>Dashboard</h1>
<table class="table">
    <thead>
        <tr>
            <th>Field</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Products in Database</td>
            <td><%= @products %></td>
            <td><%= link_to 'Product List',  [:admin, :products], class: 'btn btn-primary' %></td>
        </tr>
        <tr>
            <td>Categories in Database</td>
            <td><%= @categories %></td>
            <td><%= link_to 'Categories List',  [:admin, :categories], class: 'btn btn-primary' %></td>
        </tr>
    </tbody>
</table>
