<h1>About</h1>
<h2>Hi there! We are Jungle!</h2>
<p>
  Established in 2020, we are an online ecommerce website specializing in unique and off the wall items.
  If you have a strange taste, Jungle is the website for you.
</p>
